@charset "UTF8";
	body {background-color: #f2f2f2;}

	/** a 태그 관련!!!! */
	.p_locate{text-decoration:none; font-size:12px;}
	
	/** 글자 관련 */
	.event_title_view{font-family:"맑은 고딕"; font_size:32px; text-align:center}
	#event_comment_text{font-weight:bold;font-family:"맑은 고딕"; font-size:18px;}
	.p_title{font-family:"맑은 고딕"; text-align:center; font-size:32px; maxLength:20}
	
	/** 위치 관련 */
	.motifyEvent{text-align:right;}
	
	/** 이미지 관련 */
	.p_avatar{width:300px; height:200px;}
	.img_avatar{display:block; margin:0 auto}
	
	/**  모달 관련 */
	.p_modal-title {font_size: 36px;font-weight: bold; width:100%}
	
	/** 버튼 관련*/
	#p_register_event {border-radius: 5px;border: none;background-color: #7F56D2;
		color: white;width: 20%; padding: 12px;position: relative;top: 10%;left: 70%;}
	#delete_modify_btn{padding:10px; z-index:10; float:right;}
	#delete_modify_btn:after{clear:both}
	#event_modify_btn, #event_modify_btn{color:black}
	#event_modify_btn:hover{cursor: pointer; color: #3EF4F3; text-decoration:none;}
	.event_delete_btn:hover{cursor: pointer; color: #3EF4F3; text-decoration:none;}
	.event_delete_btn:visited{color:black}
	
	/** comment 관련 */
	#event_comment_write{background-color:#7F56D2; border:0px; opacity:0.8; color:white; width:20%;}
	#event_comment_write:hover{opacity:1}
	#comment_content{width:80%;}
	#eventCommentModify:hover, #eventCommentDelete:hover{color:#7F56D2; text-decoration:none; cursor:pointer}
	#message{padding-top:10px;}
	.comment_btn{float:right; display:flex}
	.pt{padding-left:5px; padding-right:5px}
	.reply_img{float:right}