@charset "utf-8";

@import "reset.css";

* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Malgun Gothic';
	font-size: 10pt;
}

nav {
	min-height: 100px;
}

main {
	min-height: 100%;
	height: 100%;
}

.navbar {
	width: 100%;
	z-index: 1;
	background: linear-gradient(to right, #56D7D6, #7F56D2);
}

.navbar-brand {
	width: 150px;
	background-color: #F2F2F2;
	font-size: 24px;
	height: 50px;
	color: black !important;
	margin-left: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-brand:hover {
	color: #56D7D6;
}

.navbar-toggler {
	z-index: 2;
	font-size: 24px;
	color: white;
	hover: pointer;
	margin: 0 15px 0 15px;
}

.navbar-login {
	width: 305px;
	padding: 10px;
	padding-bottom: 0px;
}

.thumbnail1 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.thumbnail2 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.mymenu {
	left: -200px;
}

.mysearch {
	margin-right: 20px;
}

* {
	font-family: "맑은 고딕";
}

.tag_strong {
	color: white;
}