@charset "UTF-8";
div{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}
.wrap {
	padding-top: 2%;
	background: #f6f6f6;
	position: relative;
	width: 100%
}
.inner_width{
	position:relative;
	margin:0 10%;
	margin: 0 auto;
	width: 1160px;
}

.h_area {
	padding: 0 15px
}
.h_space {
	position: relative;
	display: inline-block;
	margin-top: -15px;
	background: #f6f6f6;
	padding: 26px 22px 0 0
}

.h_space .space_name {
	font-size:42px;
	font-weight:900;
	line-height: 43px;
	font-family: NanumBarunGothicBold;
    vertical-align: top;
}

.h_area .sub-desc{
	margin-top: 17px;
    padding-bottom: 22px;
    font-size: 22px;
    line-height: 22px;
    color: #656565;
    font-family: NanumBarunGothicUltralight,sans-serif;
}

.tags .tag {
	margin: 6px 6px 6px 0;
    padding: 0 15px;
    height: 29px;
    font-size: 14px;
    line-height: 29px;
    border-radius: 29px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #656565;
}

.h_area+.detail_forms{
	margin-top: 39px;
}

.detail_forms{
	position: relative;
    padding-right: 395px;
    -webkit-box-sizing: border-box;
}

.box_form.right_fixed {
    padding: 0 15px;
}

.detail_forms .right_fixed {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 368px;
   -webkit-box-sizing: border-box;
}

.photo_box_wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin-top: 16px;
}

.text_box .h_copy {
    padding: 50px 100px 0 0;
    font-size: 48px;
    line-height: 60px;
    word-break: keep-all;
    word-wrap: break-word;
    font-family: NanumBarunGothicUltralight,sans-serif;
}

.detail_box:first-child+.text_box .h_intro {
    margin-top: 45px;
}

.text_box .h_intro {
    position: relative;
    padding-bottom: 16px;
    margin: 70px 0 28px;
    color: #000;
    font-size: 18px;
    line-height: 30px;
}

.text_box .h_intro:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 4px;
    width: 20px;
    background-color: #ffd014;
}
.box_form .heading h3 {
    font-size: 16px;
}

.heading {
	display: block;
    position: relative;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 3px solid #704de4;
}
.ly_right_fixed{
	padding-left: 20px;
    padding-right: 20px;
   border: 1px solid #704de4;
   background:#ffffff;
}

.right_fixed .space_info_wrap .list_detail li {
    padding: 12px 0 11px 82px;
    font-size: 14px;
}

.space_info_wrap .list_detail li {
    color: #000;
}
.list_detail .tit {
    left: 14px;
    margin-right: 18px;
}
.list_detail li {
	padding: 12px 0 11px 82px;
    font-size: 14px;
    border-top: 1px solid #ebebeb;
}

.right_fixed .space_info_wrap .facility_list {
    margin: 0 7px;
}

.right_fixed .space_info_wrap .facility_list li {
    width: 33%;
    margin-top: 24px;
    padding: 0 0 0 50px;
    font-size: 12px;
    line-height: 17px;
}

.space_info_wrap .facility_wrap li {
    float: left;
}

.facility_wrap .facility_list>li {
    position: relative;
    display: table;
    padding: 0 22px 0 54px;
    height: 36px;
    margin-top: 30px;
    color: #949494;
}