@charset "UTF-8";

.carousel-inner{
	height:400px;
}

.row{
	background:#f6f6f6;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif,NanumBarunGothicUltralight;
}

.e_aside {
  background-color: #ffffff;
  padding: 15px;
  color: #000;
  text-align: left;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.e_aside_outer{
	padding: 30% 3% 0 5%;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.e_inner_detail{
	padding: 5% 0 0 8%;
}
.e_inner_detail .e_room_name{
	font-size:46px;
	font-weight:700;
}

.e_sub-desc{
	margin-top: 17px;
    padding-bottom: 22px;
    font-size: 22px;
    line-height: 22px;
    color: #656565;
    font-family: NanumBarunGothicUltralight,sans-serif;
}

.e_tags .e_tag {
	margin: 6px 6px 6px 0;
    padding: 0 15px;
    height: 29px;
    font-size: 14px;
    line-height: 29px;
    border-radius: 29px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #656565;
}

.e_text_box .e_h_copy {
    padding: 50px 100px 0 0;
    font-size: 48px;
    line-height: 60px;
    word-break: keep-all;
    word-wrap: break-word;
    font-family: NanumBarunGothicUltralight,sans-serif;
}


.e_text_box .e_h_intro {
    position: relative;
    padding-bottom: 16px;
    margin: 70px 0 28px;
    color: #000;
    font-size: 18px;
    line-height: 30px;
}

.e_text_box .e_h_intro:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 4px;
    width: 20px;
    background-color:#57D5D5; /* #ffd014 */
}

.e_text_box .e_p_intro {
	font-size: 16px;
    line-height: 28px;
    color: #656565;
    word-break: break-all;
    word-wrap: break-word;
}

.e_review_count{
	padding: 0px 0 15px 10px;
    font-size: medium;
    color: #727AD3;
}

.e_review_box .e_rlist {
	font-size: 16px;
	border-bottom: 1px solid black;
}

.e_review_box .e_rlist {
	padding: 24px 0 0
}

.e_review_box .e_rbox_mine{
	display:flex;
}

.e_review_box .e_rbox_mine .e_pf_info{
	padding:20px 20px;
	text-align:center;	
}

.e_review_box .e_rbox_mine .e_pf_info .e_guest_name{
	margin-top:5px;
}

.e_review_info .e_review_manage{
	float:right;
}

.e_review_box .e_rlist .e_p_review {
	padding-top: 11px;
	line-height: 28px;
	clear:both;
}

.e_review_box .e_rlist .e_rbox_info_base {
	margin-top: 13px;
	margin-bottom: 10px;
    float: right;
}

.e_review_box .e_rlist .e_rbox_info_base .e_time_info {
	font-size: 12px
}


.pagination{
  place-content: center;
    padding-top: 25px;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a{
  display: inline-block;
  color: #222;
}

.p1 a{
	width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    background: white;
  
}

.p1 a.is-active{
	background-color: #8a8989;
	color:white;
}
    
.e_head{
	clear:both;
	border-bottom:3px solid #855FD4;
	padding: 20px 0 11px 8px;
	font-size:20px;
	font-weight:600;
	color:#555555;
	margin-bottom:15px;
}
.e_head .e_head_right{
	display: inline-block;
    float: right;	
}

.e_container{
    width: 98%;
    padding-top: 5%;
}
.e_right_room_detail .e_list_detail li {
    padding: 12px 0 12px 8px;
    font-size: 15px;
    border-bottom: 1px solid #ebebeb;
    display: grid;
    grid-template-columns: 30% 70%;
}

.e_right_room_detail{
    display: inline-table;
}

.e_list_detail .e_tit {
    left: 14px;
    margin-right: 18px;
}

.e_facility_wrap {
	padding-top: 2px;
	margin-right: -15px
}

.e_facility_list>li {
	float: left;
	width: 33.3%;
	position: relative;
	display: table;
	padding: 0 10px 0 41px;
	height: 36px;
	margin-top: 5px;
	color: #949494
}

.e_facility_wrap i {
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -13px
}

.e_facility_wrap .e_txt_name {
	display: table-cell;
	vertical-align: middle;
	max-width: 100%
}

.e_room_reserve .e_calendar_out{
	display:grid;
}

.e_calendar{
  display:inline-grid;
  justify-content:center;
  align-items:center;
  background:#fff;
  padding:15px 0;
  border-radius:5px;
} 
  .month{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:20px;
    margin-bottom:20px;
    font-weight:300;
  }   
 .year{
      font-weight:600;
      margin-left:10px;
    }
    
.e_nav{
      display:flex;
      justify-content:center;
      align-items:center;
      text-decoration:none;
      color:#0a3d62;
      width:40px;
      height:40px;
      border-radius:40px;
      transition-duration:.2s;
      position:relative;
}     
.e_nav:hover{
      background:#eee;
  }
  
.e_days{
    display: grid;
    justify-content:center;
    align-items:center;
    grid-template-columns: repeat(7, 1fr);
    color:#999;
    font-weight:600;
    margin-bottom:15px;
  }   
.e_days span{
      width:50px;
      justify-self:center;
      align-self:center;
      text-align:center;
 }

  
.e_dates{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
}  
 
.e_dates button{
      cursor:pointer;
      outline:0;
      border:0;
      background:transparent;
      font-family: 'Montserrat', sans-serif;
      font-size:16px;
      justify-self:center;
      align-self:center;
      width:50px;
      height:50px;
      border-radius:50px;
      margin:2px;
      transition-duration:.2s;
}      
.e_today{
    box-shadow:inset 0px 0px 0px 2px #0a3d62;
 }
      
.e_dates button:first-child{
    grid-column:3;
}
      
.e_dates button:hover{
    background:#eee;
}
      
.e_dates button:focus{
    background:#0a3d62;
    color:#fff;
    font-weight:600;
}

.e_color_desc {
	margin-top: 10px;
	float:right;
}

.e_color_desc span {
	position: relative;
	padding-left: 13px;
	margin-right: 8px;
	font-size: 12px;
	color: #656565;
	
}

.e_color_desc .e_color_today::before {
    content: "○";
    color: #0A3D61;
    margin-right: 8px;
}

.e_color_desc .e_color_select::before {
	content: "●";
    color: #0A3D61;
    margin-right: 8px;
}

.e_color_desc .e_color_disable::before {
    content: "○";
    color: #ccc;
    margin-right: 8px;
}
/* 시간 선택 부분 */


/* 시간 선택 끝*/
.e_head .e_plus_num{
	font-size: small;
    padding-top: 10px;
    color: gray;
    font-weight: 500;
}

.e_num_count .input-group .input-group-btn{
	background:lightgray;
}
.e_num_count .input-group .btn .btn-default{
	height:100%
}

.e_num_count .input-group .btn .btn-default span{
	font-size: medium;
    font-weight: 600;
}

.e_total_price_div{
	padding: 15px;
}
.e_total_price_div span{
	font-size: large;
    font-weight: 800;
}

.e_total_price_div .e_price_div{
	padding: 15px 0;
}

.e_total_price_div .e_price{
	float:right;
}
.e_total_price_div .e_total_price{
	font-weight: 900;
	float:right;
	color:#855FD4;
	font-size: 1.65em;
}

.e_to_reserve_button{
	text-align: -webkit-center;
    padding-top: 10px;
}

.e_to_reserve_button .e_to_reserve_page{
	width: 93%;
    border: none;
    height: 48px;
    background: #855FD4;
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
}

 .swiper-container {
      width: 100%;
      height: 100%;
    }

 .swiper-container .swiper-wrapper div{
	width: 72px!important;
    margin-right: 5px!important;
    height: 50px;
 }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background:#57D7D5;
    display: flex;
    justify-content: center;
    align-items: center;
	cursor:pointer;
}
.jsCalendar table {
    width: 99%!important;
}

.jsCalendar thead .jsCalendar-week-days th, .jsCalendar tbody td {
    width: 48px!important;
}

.jsCalendar thead .jsCalendar-title {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}


.jsCalendar tbody td.jsCalendar-current {
    border: 1px solid darkslateblue;
    border-radius: 90%;
    background-color:#52c9ff00!important;
    color:black!important;
}

.e_head .e_head_right_div{
	display: inline-block;
    float: right;
    position: relative;
    bottom: 25px;
}

